body {
    font-family: 'Arial', sans-serif;
    background-color: #ddd2eb;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

h1 {
    color: #4a1746;
    font-size: 28px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%;
    text-align: center;
}

.card h2 {
    color: #2d2d2d;
    font-size: 26px;
}

.gratis {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.card ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #4a4a4a;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4e6ba8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(111, 109, 216)
}